
Makefile
*.make
out/

general/headers

io/multicast
io/string

text/charbuf
text/charset
text/escape

utils/dynamic
utils/endian
utils/statestore
utils/strings

var/collection
var/script
var/template
var/value
var/writer
