# Builds
*.exe
*.dll
*.so
*.idb
*.pdb
*.obj
*.lib
*.exp
*.o
*.a

# Generated documentation
docs/latex/
docs/html/

# Makefiles and build data
Makefile
duct.make
out/
lib/
*.sln
*.suo
*.vcproj
*.ncb
*.user

# Keep deps/
!deps/msvc/x86/icu/bin/*.zip
!deps/msvc/x86/icu/lib/
!deps/msvc/x86/icu/lib/*.lib
!deps/msvc/x86/icu/lib/*.exp

!deps/msvc/x64/icu/bin/*.zip
!deps/msvc/x64/icu/lib/
!deps/msvc/x64/icu/lib/*.lib
!deps/msvc/x64/icu/lib/*.exp

