# Builds
*.exe
*.dll
*.so
*.idb
*.pdb
*.obj
*.lib
*.exp
*.o
*.a

# Generated documentation
docs/latex/
docs/html/

# Makefiles and build data
Makefile
*.make
out/
lib/
*.sln
*.suo
*.vcproj
*.ncb
*.user

# Dependencies
deps/msvc/x64/icu/lib/
deps/msvc/x64/icu/bin/
deps/msvc/x86/icu/lib/
deps/msvc/x86/icu/bin/

