# Builds
*.exe
*.dll
*.so
*.idb
*.pdb
*.obj
*.lib
*.exp
*.o
*.a

# Generated documentation
docs/latex/
docs/html/

# Makefiles and build data
Makefile
*.make
out/
lib/
*.sln
*.suo
*.vcproj
*.ncb
*.user

# Dependencies
# MSVC
deps/msvc/x64/icu/
deps/msvc/x86/icu/

# Linux
deps/linux/x64/icu/
deps/linux/x86/icu/
